<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Vision_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Vision_Client.Properties.Settings>
      <setting name="FileString" serializeAs="String">
        <value />
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="register" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="Pass" serializeAs="String">
        <value />
      </setting>
      <setting name="Color" serializeAs="String">
        <value />
      </setting>
      <setting name="OverlaySetting" serializeAs="String">
        <value />
      </setting>
      <setting name="TOS" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="CustomBackground" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="Buffertime" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DiscordRPC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackgroundColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="Background" serializeAs="String">
        <value />
      </setting>
      <setting name="PurchaseClicked" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="Autobufferchecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExternalLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="UniqueBuildSetup" serializeAs="String">
        <value>False</value>
      </setting>
    </Vision_Client.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>